:root{
    --background-color: rgb(16, 16, 16);
    --text-color: white;
    --links-color: rgb(26, 26, 250);
}

*{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    box-sizing: body-box;
    margin: 0;
    padding: 0;
    position: relative;
}

div ul{

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 1rem ;
    
    
}
ul li{
    list-style-type: none;
    padding: 1.4rem;
}


div ul li a{
    text-decoration: none;
    color: var(--text-color);
}
div ul li a:hover{
    color: var(--links-color);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    align-items:center;
    justify-items: center ;

}


